<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="priceRule">
            <h2><span>Price Rule</span> {{priceRule.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Deduction Value</span></dt>
                <dd>
                    <span>{{priceRule.deductionValue}}</span>
                </dd>
                <dt><span>Allocation Limit</span></dt>
                <dd>
                    <span>{{priceRule.allocationLimit}}</span>
                </dd>
                <dt><span>Once Per Customer</span></dt>
                <dd>
                    <span>{{priceRule.oncePerCustomer}}</span>
                </dd>
                <dt><span>Usage Limit</span></dt>
                <dd>
                    <span>{{priceRule.usageLimit}}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{priceRule.startDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{priceRule.endDate}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{priceRule.createdDate}}</span>
                </dd>
                <dt><span>Updated Date</span></dt>
                <dd>
                    <span>{{priceRule.updatedDate}}</span>
                </dd>
                <dt><span>Prerequisite Subtotal Range</span></dt>
                <dd>
                    <span>{{priceRule.prerequisiteSubtotalRange}}</span>
                </dd>
                <dt><span>Prerequisite Quantity Range</span></dt>
                <dd>
                    <span>{{priceRule.prerequisiteQuantityRange}}</span>
                </dd>
                <dt><span>Prerequisite Shipping Price Range</span></dt>
                <dd>
                    <span>{{priceRule.prerequisiteShippingPriceRange}}</span>
                </dd>
                <dt><span>Target Type</span></dt>
                <dd>
                    <div *ngIf="priceRule.targetTypeId">
                        <a [routerLink]="['/target-type', priceRule.targetTypeId, 'view']">{{priceRule.targetTypeId}}</a>
                    </div>
                </dd>
                <dt><span>Deduction Value Type</span></dt>
                <dd>
                    <div *ngIf="priceRule.deductionValueTypeId">
                        <a [routerLink]="['/deduction-value-type', priceRule.deductionValueTypeId, 'view']">{{priceRule.deductionValueTypeId}}</a>
                    </div>
                </dd>
                <dt><span>Customer Selection</span></dt>
                <dd>
                    <div *ngIf="priceRule.customerSelectionId">
                        <a [routerLink]="['/customer-selection', priceRule.customerSelectionId, 'view']">{{priceRule.customerSelectionId}}</a>
                    </div>
                </dd>
                <dt><span>Allocation Method</span></dt>
                <dd>
                    <div *ngIf="priceRule.allocationMethodId">
                        <a [routerLink]="['/allocation-method', priceRule.allocationMethodId, 'view']">{{priceRule.allocationMethodId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/price-rule', priceRule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
