<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offer">
            <h2><span>Offer</span> {{offer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{offer.title}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{offer.description}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{offer.createdDate}}</span>
                </dd>
                <dt><span>Updated Date</span></dt>
                <dd>
                    <span>{{offer.updatedDate}}</span>
                </dd>
                <dt><span>Promo Code</span></dt>
                <dd>
                    <span>{{offer.promoCode}}</span>
                </dd>
                <dt><span>Usage Count</span></dt>
                <dd>
                    <span>{{offer.usageCount}}</span>
                </dd>
                <dt><span>Price Rule</span></dt>
                <dd>
                    <div *ngIf="offer.priceRuleId">
                        <a [routerLink]="['/price-rule', offer.priceRuleId, 'view']">{{offer.priceRuleId}}</a>
                    </div>
                </dd>
                <dt><span>Payment Rule</span></dt>
                <dd>
                    <div *ngIf="offer.paymentRuleId">
                        <a [routerLink]="['/payment-rule', offer.paymentRuleId, 'view']">{{offer.paymentRuleId}}</a>
                    </div>
                </dd>
                <dt><span>Order Rule</span></dt>
                <dd>
                    <div *ngIf="offer.orderRuleId">
                        <a [routerLink]="['/order-rule', offer.orderRuleId, 'view']">{{offer.orderRuleId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offer', offer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
